<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/b21468a0-eba5-416f-9894-b3184b960d9e/resourcegroups/leedsbeerquestapi-app-2022111521ResourceGroup/providers/Microsoft.ContainerRegistry/registries/LeedsBeerQuestApi20221115213134</ContainerResourceId>
    <ContainerResourceName>LeedsBeerQuestApi20221115213134</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>leedsbeerquestapi20221115213134.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ContainerName>leedsbeerquestapi</ContainerName>
    <EnvironmentName>LeedsBeerQuestApi-env-20221115212723</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://leedsbeerquestapi-app-2022111521.jollymeadow-5d42e192.australiaeast.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/b21468a0-eba5-416f-9894-b3184b960d9e/resourceGroups/leedsbeerquestapi-app-2022111521ResourceGroup/providers/Microsoft.App/containerApps/leedsbeerquestapi-app-2022111521</ResourceId>
    <ResourceGroup>leedsbeerquestapi-app-2022111521ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
  </PropertyGroup>
</Project>