
<span *ngIf="selectedEstablishment" class="card" style="background-image: url('{{selectedEstablishment.thumbnail}}'); background-size: 100%;">
     <div class="card-container">
        <div class="card highlight-card card-small">
            {{selectedEstablishment.name}}
        </div>
        <div class="card highlight-card card-small">
            {{selectedEstablishment.excerpt}}
        </div>
    </div>

    <div class="card-container">
        <div class="card highlight-card card-small">
            {{selectedEstablishment.address}}
        </div>
        <div *ngIf="selectedEstablishment.phone" class="card highlight-card card-small">
            {{selectedEstablishment.phone}}
        </div>
        <div class="card highlight-card card-small">
            <a [href]=selectedEstablishment.url target="_blank">{{selectedEstablishment.url}}</a>
        </div>
    </div>
    <div *ngIf="selectedEstablishment.twitter" class="card-container">
        <div class="card highlight-card card-small">
            Twitter: {{selectedEstablishment.twitter}}
        </div>
    </div>
    <div class="card-container">
        <div *ngFor="let tag of selectedEstablishment.tags" class="card highlight-card card-small">
            {{tag}}
        </div>
    </div>
    <div class="card-container">
        <div class="card highlight-card card-small">
            Beer: {{selectedEstablishment.ratings.beer}}
        </div>
        <div class="card highlight-card card-small">
            Atmosphere: {{selectedEstablishment.ratings.atmosphere}}
        </div>
        <div class="card highlight-card card-small">
            Amenities: {{selectedEstablishment.ratings.amenities}}
        </div>
        <div class="card highlight-card card-small">
            Value: {{selectedEstablishment.ratings.value}}
        </div>
    </div>


</span>