
<span *ngIf="selectedEstablishment" class="card" style="background-image: url('{{selectedEstablishment.thumbnail}}'); background-size: 100%;">
     <div class="card-container">
        <div class="card highlight-card card-small">
            {{selectedEstablishment.name}}
        </div>
        <div class="card highlight-card card-small">
            {{selectedEstablishment.excerpt}}
        </div>
    </div>

    <div class="card-container">
        <div class="card highlight-card card-small">
            {{selectedEstablishment.address}}
        </div>
        <div class="card highlight-card card-small">
            {{selectedEstablishment.phone}}
        </div>
        <div class="card highlight-card card-small">
            <a href=selectedEstablishment.url>{{selectedEstablishment.url}}</a>
        </div>
    </div>
    <div *ngIf="selectedEstablishment.twitter" class="card-container">
        <div class="card highlight-card card-small">
            Twitter: {{selectedEstablishment.twitter}}
        </div>
    </div>
    <div class="card-container">
        <div *ngFor="let tag of selectedEstablishment.tags" class="card highlight-card card-small">
            {{tag}}
        </div>
    </div>



</span>